<!DOCTYPE html>
<html lang="ko">
<head>
<title>view</title>
<meta charset="utf-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
<style>
body{margin:0;padding:0}
#doc{margin:10px}
</style>
</head>
<body>
<script src="http://js.bsapi.co/4/build/test.php"></script>
<script src="http://js.bsapi.co/test/2/"></script>
<script>
bsTest.doc('이벤트', function(){/*
### e.wheelDelta()
### e.data(k, v)

### e.record()
INDEX,INFO,LIST,SUP,@hash

### e.render()
### e.key(keyname)
### e.isLave()

### e.pos()
## e.pos().pageX
## e.pos().pageY
## e.pos().startX
## e.pos().startY
## e.pos().distanceX
## e.pos().distanceY
## e.pos().moveX
## e.pos().moveY
## e.pos().pageY
## e.pos().pageY
## e.pos().length = 0
## e.pos().touches = []
## e.pos().clientX()
## e.pos().clientY()

### e.group
## e.group.el()
## e.group.S()
## e.group.info()
## e.group.record()
## e.group.data(k, v)
## e.group.key(key)
## e.group.find('aaa', 'aa');

## e.group.parent()
## e.group.child(key)
## e.group.prev()
## e.group.next()

*/});

</script>
</body>
</html>